<!DOCTYPE html>
<html>
  <head>
    <title>GistSubmit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= hidden_field_tag :application_data, @application_data %>
    <%= yield %>
  </body>
</html>
